.clasespage-h1 {
  margin-bottom: 0.5em;
}

.clasespage-contenedor-barra-busqueda-y-boton-nuevo-clase {
  display: flex; 
  gap: 5rem;
}

.clasespage-barra-busqueda {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 30em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 2em;
}

.clasespage-barra-busqueda i {
  font-size: 1.2rem;
  color: #888;
  margin-right: 0.5rem;
}

.clasespage-input-busqueda {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  color: #333;
}

.clientespage-select-estado {
  padding: 8px 12px;
  border: 2px solid #4CAF50;   /* borde verde */
  border-radius: 6px;          /* esquinas redondeadas */
  background-color: #f9f9f9;   /* fondo claro */
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.clientespage-select-estado:hover {
  border-color: #45a049;       /* cambia el borde al pasar el mouse */
  background-color: #fff;
}

.clientespage-select-estado:focus {
  outline: none;
  border-color: #2e7d32;       /* borde más oscuro al enfocarse */
  box-shadow: 0 0 5px rgba(46, 125, 50, 0.5);
}

.clasespage-boton-nuevo-clase {
  display: flex;
  align-items: center;
  background-color: #166f26;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 0.05em;
  padding: 0.2rem 0.3rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 2em;
  margin-top: 0.2em;
}

.clasespage-boton-nuevo-clase i {
    color: white;
    font-size: 1em;
}

.clasespage-texto-boton-nuevo-clase {
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #166f26;
    color: white;
    flex: 1;
    cursor: pointer;
}

.clasespage-contenedor-tabla {
    margin-top: 1.5em;
}

.clasespage-tabla {
    border: 1px solid black;
    border-collapse: collapse;
}

.clasespage-tabla th, .clasespage-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.clasespage-tabla th {
  background-color: rgb(187, 184, 184);
}

.clasespage-tabla td {
  background-color: white;
}

.clasespage-columna-acciones {
    gap: 5em;
}

.clasespage-boton-ver-perfil {
  margin-left: 0.5rem;
  border: none;
  padding: 0.3em 0.8em;
  background-color: rgb(14, 14, 82);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.clasespage-columna-acciones i {
  margin-left: 0.5em;
  cursor: pointer;
}

.clasespage-link-ver-clases {
  color: rgb(14, 14, 94);
  cursor: pointer;
  text-decoration: underline;
}