.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 150px 1fr; /* aside fijo, main flexible */
  grid-template-rows: auto 1fr auto; /* header arriba, main ocupa, footer abajo */
  min-height: 100vh;

}

.layout a {
  color: rgba(0, 0, 0, 0.171);
}

.layout-header {
  grid-area: header;
  background-color: rgb(14, 14, 82);
  color: white;
  padding: 1rem;
  text-align: left;
  padding-left: 1rem;
}

.layout-aside {
  background: rgb(223, 213, 213);
  grid-area: aside;
  padding: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.layout-aside .layout-aside-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.layout-aside-lista li {
  color: rgb(66, 61, 61);
}

.layout-main {
  background-color: rgb(232, 223, 223);
  grid-area: main;
  padding: 4rem;
}

.layout-footer {
  grid-area:footer;
  background-color: rgb(14, 14, 82);
  color: white;
  padding: 1rem;
  text-align: center;
}