.loginlayout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

}

.loginlayout-header {
  grid-area: header;
  background-color: rgb(14, 14, 82);
  color: white;
  padding: 1rem;
  text-align: left;
  padding-left: 1rem;
}

.loginlayout-main {
  background-color: rgb(232, 223, 223);
  grid-area: main;
  padding: 4rem;
}

.loginlayout-footer {
  grid-area:footer;
  background-color: rgb(14, 14, 82);
  color: white;
  padding: 1rem;
  text-align: center;
}