.membreciaespecificapage-contenedor-tabla {
    margin-top: 1rem;
}

.membreciaespecificapage-tabla {
    border: 1px solid black;
    border-collapse: collapse;
}

.membreciaespecificapage-tabla th, .membreciaespecificapage-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.membreciaespecificapage-tabla th {
  background-color: rgb(187, 184, 184);
}

.membreciaespecificapage-tabla td {
  background-color: white;
}

.membreciaespecificapage-columna-acciones a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.membreciaespecificapage-link-ver-mas {
  color: rgb(14, 14, 94);
  cursor: pointer;
  text-decoration: underline;
}