.membreciaspage-contenedor-tabla {
    margin-top: 1rem;
}

.membreciaspage-tabla {
    border: 1px solid black;
    border-collapse: collapse;
}

.membreciaspage th, .membreciaspage-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.membreciaspage-tabla th {
  background-color: rgb(187, 184, 184);
}

.membreciaspage-tabla td {
  background-color: white;
}

.membreciaspage-columna-acciones {
    gap: 5em;
}