.pagospage-h1 {
  margin-bottom: 0.5em;
}

.pagospage-contenedor-barra-busqueda-y-boton-nuevo-pago {
  display: flex; 
  gap: 5rem;
}

.pagospage-barra-busqueda {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 30em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 2em;
}

.pagospage-barra-busqueda i {
  font-size: 1.2rem;
  color: #888;
  margin-right: 0.5rem;
}

.pagospage-input-busqueda {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  color: #333;
}

.pagospage-boton-nuevo-pago {
  display: flex;
  align-items: center;
  background-color: #166f26;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 0.05em;
  padding: 0.2rem 0.3rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 2em;
  margin-top: 0.2em;
}

.pagospage-boton-nuevo-pago i {
    color: white;
    font-size: 1em;
}

.pagospage-texto-boton-nuevo-pago {
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #166f26;
    color: white;
    flex: 1;
    cursor: pointer;
}

.pagospage-contenedor-tabla {
    margin-top: 1.5em;
}

.pagospage-tabla {
    border: 1px solid black;
    border-collapse: collapse;
}

.pagospage-tabla th, .pagospage-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.pagospage-tabla th {
  background-color: rgb(187, 184, 184);
}

.pagospage-tabla td {
  background-color: white;
}

.pagospage-columna-acciones {
    gap: 5em;
}

.pagospage-boton-ver-info {
  margin-left: 0.5rem;
  border: none;
  padding: 0.3em 0.8em;
  background-color: rgb(14, 14, 82);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagospage-columna-acciones i {
  margin-left: 0.5em;
  cursor: pointer;
}

.estado-badge {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.9rem;
}

.estado-Activo {
  background-color: #d4edda;
  color: #155724;
}

.estado-Atrasado {
  background-color: #fff3cd;
  color: #856404;
}

.estado-Suspendido {
  background-color: #f8d7da;
  color: #721c24;
}

.estado-Desconocido {
  background-color: #c2bdbe;
  color: #000000;
}