.reservaspage-h1 {
  margin-bottom: 0.5em;
}

.reservaspage-contenedor-barra-busqueda-y-boton-nuevo-reserva {
  display: flex; 
  gap: 5rem;
}

.reservaspage-barra-busqueda {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 30em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 2em;
}

.reservaspage-barra-busqueda i {
  font-size: 1.2rem;
  color: #888;
  margin-right: 0.5rem;
}

.reservaspage-input-busqueda {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  color: #333;
}

.reservaspage-boton-nuevo-reserva {
  display: flex;
  align-items: center;
  background-color: #166f26;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 0.05em;
  padding: 0.2rem 0.3rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 2em;
  margin-top: 0.2em;
}

.reservaspage-boton-nuevo-reserva i {
    color: white;
    font-size: 1em;
}

.reservaspage-texto-boton-nuevo-reserva {
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #166f26;
    color: white;
    flex: 1;
    cursor: pointer;
}

.reservaspage-contenedor-tabla {
    margin-top: 1.5em;
}

.reservaspage-tabla {
    border: 1px solid black;
    border-collapse: collapse;
}

.reservaspage-tabla th, .reservaspage-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.reservaspage-tabla th {
  background-color: rgb(187, 184, 184);
}

.reservaspage-tabla td {
  background-color: white;
}

.reservaspage-columna-acciones {
    gap: 5em;
}

.reservaspage-boton-ver-perfil {
  margin-left: 0.5rem;
  border: none;
  padding: 0.3em 0.8em;
  background-color: rgb(14, 14, 82);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.reservaspage-columna-acciones i {
  margin-left: 0.5em;
  cursor: pointer;
}
