.tarjetaclase {
  background-color: rgb(14, 14, 82);
  padding: 1.5rem;
  border-radius: 1em;
  color: white;
  display: inline-block;
  min-width: 220px;
  max-width: 300px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.tarjetaclase:hover {
  transform: scale(1.02); /* 👈 efecto visual al pasar el mouse */
}

.tarjetaclase-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tarjetaclase-primeracolumna h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.tarjetaclase-segundacolumna {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.tarjetaclase-boton-reservar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #166f26;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: fit-content;
  padding: 0.2em 0.7em;
  height: auto;
  margin: 0.5em auto 0;
  cursor: pointer;
  color: white;
}

.tarjetaclase-segundacolumna p {
  font-size: 1.4rem;
  margin: 0.5em auto 0; 
}